	<h1 class="title">FanFic</h1>
	<p class="sub-title">Novos contos, das histórias que você já conhece</p>
</header>

<section>

	<div class="container-history">
		<div class="icon-ground"></div>
		<%= image_tag "logo-terraria.png", class: "icon" %>

		<div class="context">
			<h2>Histórias de - Terraria</h2>
			<p>Viva uma aventura em um mundo completamente diferente.</p>
		</div>
	</div>

	<div class="container-history">
		<div class="icon-ground"></div>
		<%= image_tag "logo-journey.png", class: "icon" %>

		<div class="context">
			<h2>Histórias de - Journey</h2>
			<p>Nada é mais tenebroso, do que passar pelo deserto.</p>
		</div>
	</div>

</section>